

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap');

*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 500ms ease;
}

body{
    font-family: sans-serif;

    display: block;
}

menu{
    z-index: 9;
}

.tabsWrapper{
    margin-left: 5rem;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

.burger{
    z-index: 9;
    position: absolute;
    top: 1.5rem;
    align-content: center;
    justify-content: center;
    left: 7rem;
    display: none;
    margin-top: -1rem;
}

.burger.active{
    z-index: 19;
    position: absolute;
    top: 1.5rem;
    align-content: center;
    justify-content: center;
    left: 7rem;
    display: block;
    margin-top: -0.5rem;
}

    .burger.active .line2{
        transform: rotate(-45deg);
    top: -8px;
    position: relative;
    }

    .burger.active .line1{
        transform: rotate(45deg);
    }

    .burger.active .line3{
        display: none;
    }

.line1, .line2, .line3 {
    transition: all 300ms ease;
}

.tabsWrapper h2{
    font-size: 12px;

}

.tabsWrapper #mainButtons{
    display: flex;
    gap: 0.3rem;
    z-index: 9;
}

.iconsWrapper{
    margin-left: auto;
    margin-right: 5rem;
}

.iconsWrapper ul{
    display: flex;
}

.navMenu{
    display: flex;
    gap:0.3rem;
    align-items: center;
}

#arrow{
    transform: rotate(90deg);
}

h2{
    text-align: center;
}

menu {
    top: 3px;
    margin-left: auto;
    color: #F2F2F2;
    background: #333333;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    left: 0;
    right: 0;
}


.navMenuButtons{
    padding: 15px;
    border-radius: 5px;
    transition: all 500ms ease;
    justify-content: start;
}

.navMenuButtons:hover{
    background: black;
    cursor: pointer;
}

#icons{
    width: 16px;
    height: 18px;
}

.navMenuIcons{
    padding: 16px;
    border-radius: 5px;
    transition: all 700ms ease;
}

.navMenuIcons:hover{
    background:black;
    cursor: pointer;
}

.bigWrapper{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    align-items: center;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
}

#iconSideMenu{
    filter: contrast(0);
    width: 1rem;
    height: auto;
}


.wrapperSideList h4{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: gray;
    width: 1.4rem;
}

aside{
    float: left;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    background-color: #f2c94c33;
    border-radius: 10px 10px;
}

.wrapperIndicator{
 display: flex;
 gap: 0.3rem;
}
.sideMenuButton{
    display: flex;
    gap: 9rem;
    justify-content: start;
    align-items: center;
    padding: 12px;
    background: #F2F2F2;
}

#movies{
    border-radius: 5px 5px 0 0;
}

.sideMenuButton.active{
    background: #F2C94C;
}

.sideMenuButton.active #iconSideMenu{
    filter: contrast(0) brightness(0);
}

.sideMenuButton.active h4{
    color: black;
}

.wrapperSideMenuImage{
    display: flex;
    justify-content: center;
    padding: 1.3rem;
}

.wrapperContentRight{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    height: 52vh;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #E0E0E0;
    padding: 0.8rem
}

#titles{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    padding: 0.8rem
}

#titles:hover{
    color: #F2C94C;
    cursor: pointer;
}

.genreWrapper.second{
    display: flex;
    gap: 1.5rem;
    padding: 10px;
    background-image: url(sources/Rectangle\ 5.png), linear-gradient(120deg,white,white,#ebebeb08);
    background-blend-mode: overlay;
}



.wrapperSecondFeatured{
    display: flex;
    align-items: end;
}

#secondFeature{
    width: 8rem;
    height: 12rem;
}

/*=============STYLING MENU DROPDOWNS============*/

.dropDown{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 3rem;
    z-index: 9;
    justify-content: center;
    align-items: start;
    border-radius: 5px;
    margin-left: -1rem;
    display: none;
}

.dropDown li{
    width: 15rem;
    padding: 10px;
    background: #333333;
}

.dropDown li:hover{
    background-color: black;
}

#link1{
    border-radius: 5px 5px 0 0;
}

#link4{
    border-radius: 0 0 5px 5px;
}

#blank{
    opacity: 0;
    cursor: auto;
}

#works:hover #dropDown1{
    display: flex;
}

#flyout:hover #dropDown2{
    display: flex;
}

.cta{
    position: absolute;
    display: flex;
    margin-left: -5rem;
    font-size: 10px;
    background: #F2C94C;
    border-radius: 5px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    filter: drop-shadow(2px 4px 6px black);
    margin-bottom: 0.7rem;
    transition: all 700ms ease;
}

.cta:hover{
    background: #f2af4c;
}

.cta span{
    font-weight: 700;
    font-style: italic;
}

.cta h4{
    font-weight: 400;
}

#symbol{
    background: white;
    border-radius: 50%;
    padding: 0px;
    width: 0.8rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 1rem;
}

#rock{
    width: 28rem;
}

#musicContent{
    display: none;
}

#booksContent{
    display: none;
}

@media screen and (max-width:1015px){
    .bigWrapper{
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width:945px){
    .bigWrapper{
        display: flex;
        flex-direction: column;
    }
    aside{
        float: none;
        display: block;
    }

    .wrapperSideMenuImage{
    display: none;
    }

     #pointer{
        transform: rotate(90deg);
    }
}

@media screen and (max-width:790px){
    .burger{
        display: block;
    }

    .tabsWrapper #mainButtons{
        position: absolute;
        flex-direction: column;
        gap: 0.3rem;
        background: #333333;
        margin-top: 1.3rem;
        display: none;
        animation: dropDown 500ms ease;
        border-radius: 0 0 10px 10px;
    }

    #arrow{
        transform: rotate(0deg);
    }

    #dropDown1{
        position: absolute;
    display: flex;
    flex-direction: column;
    top: -0.5rem;
    z-index: 9;
    justify-content: center;
    align-items: start;
    border-radius: 5px;
    margin-left: 7rem;
    display: none;
    }

    #dropDown2{
        position: absolute;
    display: flex;
    flex-direction: column;
    top: 1rem;
    z-index: 9;
    justify-content: center;
    align-items: start;
    border-radius: 5px;
    margin-left: 7rem;
    display: none;
    }
}

@keyframes dropDown{
    0%{
        margin-top: -20rem;
        opacity: 100%;
    }

    100%{
        margin-top: 1.3rem;
        opacity: 100%;
    }
}

@media screen and (max-width:770px){
    .wrapperContentRight{
    gap: 0;
    height: 0;
    }
}

@media screen and (max-width:700px){
    .wrapperContentRight{
    gap: 0;
    height: 0;
    }
    #mainPoster{
        width: 10rem;
    }
}

@media screen and (max-width:575px) {
    #mainPoster{
        width: 17rem;
        padding: 15px;
    }
    .wrapperContentRight {
        gap: 0;
        height: 0;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:540px) {
    .burger{
        left: 2rem;
    }
    .burger.active{
        left: 2rem;
    }

    .wrapperContentRight{
        gap: 0;
        height: 0;
        grid-template-columns: 1fr;
    }
}